# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LHRR / LHC outputs
logs/
new_logs/
output_lhrr/
outputs/
results*/
__pycache__/
scores/
src/lhc.cpp
os
.ipynb_checkpoints/*
FINCH/*